@model Wash4Me.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemAmount" class="control-label"></label>
                <input asp-for="ItemAmount" class="form-control" />
                <span asp-validation-for="ItemAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsApproved" class="control-label"></label>
                <input asp-for="IsApproved" class="form-control" />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsProcessed" class="control-label"></label>
                <input asp-for="IsProcessed" class="form-control" />
                <span asp-validation-for="IsProcessed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessedBy" class="control-label"></label>
                <input asp-for="ProcessedBy" class="form-control" />
                <span asp-validation-for="ProcessedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
